.aside {
  display: flex;
  flex-direction: column;
  background-color: var(--second-background);
  padding: 10px;
  z-index: 10;

  &-item {
    height: 45px;
    width: 45px;
    font-size: 30px;
  }
}

.aside-item {
  color: var(--icon-color);
}

.active-aside-item {
  color: var(--primary-color);
}
