.aside {
  display: flex;
  flex-direction: column;
  background-color: var(--second-background);
  padding: 10px;

  &-item {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-size: 30px;


    &.active {
      background-color: rgba(145, 140, 140, 0.5);
    }
  }
}