.aside {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 550px;
  min-width: 380px;
  width: 100%;

  &-footer {
    padding: 10px;
  }
}

.add-new-chat-menu {
  background: var(--main-background);
  height: 100%;
  width: 100%;
  transition: .5s all;
  transform: translateX(-100%);
  z-index: 5;
  @include useAbsolutePosition();

  &.rtl {
    transform: translateX(100%);
  }

  &.active {
    transform: translateX(0);
  }
}