.full-chat {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 6px 18px var(--register-form-shadow-color);
  border-radius: 0;
  background-color: var(--main-background);
  @include scrollBar();

  &.console-page {
    width: 100vw;
    height: 100vh;
    max-width: initial;
  }
}

.contact-chat {
  &-header {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: var(--second-background);
    z-index: 1000;
  }
}

.chat-view.full {
  height: 720px;
  flex-grow: 1;
}