.user-side {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;

  @media screen and (max-width: 975px) {
    max-width: initial;
  }

  &-footer {
    padding: 10px;
  }

  & > *:first-child {
    flex-grow: 1;
  }
}

.settings {
  width: 100%;
}

.chats {
  overflow: auto;
}

.add-new-chat-menu {
  background: var(--main-background);
  height: 100%;
  width: 100%;
  transition: 0.5s all;
  transform: translateX(-150%);
  z-index: 5;
  @include useAbsolutePosition();

  &.rtl {
    transform: translateX(150%);
  }

  &.active {
    transform: translateX(0);
  }
}
