.dark-theme {

  --main-background: #0e0e0e;
  --second-background: #171616;
  --sidebar-trigger-background: #001529;

  --primary-color: #009805;
  --primary-fg-color: #4cae4f;

  --border-color: #313131;

  --register-form-shadow-color: rgba(0, 0, 0, 0.4);

  --light-primary-color: hsla(122, 39%, 49%, 1);

  --link-color: mediumseagreen;
  --link-hover-color: #009805;

  --authorized-status-color: #4CAE4FFF;
  --not-authorized-status-color: rgb(255, 39, 39);
  --starting-status-color: #1890ff;
  --warning-status-color: #ff9100;

  --second-color-hover: #002cd5;

  --scrollbar-color: mediumseagreen;

  --price-color: mediumseagreen;

  --ios-background: #f0f2f5;

  --border-list: #e9edef;
}