.dark-theme {
  --main-background: #181a1b;
  --second-background: #1f2223;
  --sidebar-trigger-background: #4b4b4b;

  --primary-color: #3b9702;
  --primary-fg-color: #3b9702;

  --border-color: #313131;

  --register-form-shadow-color: rgba(0, 0, 0, 0.4);

  --light-primary-color: hsla(122, 39%, 49%, 1);

  --link-color: mediumseagreen;
  --link-hover-color: #3b9702;

  --authorized-header-color: #264500;
  --not-authorized-header-color: rgb(65, 28, 0);
  --authorized-status-color: #4cae4fff;
  --not-authorized-status-color: rgb(255, 39, 39);
  --starting-status-color: #1890ff;
  --warning-status-color: #ff9100;

  --second-color-hover: #002cd5;

  --scrollbar-color: mediumseagreen;

  --price-color: mediumseagreen;

  --ios-background: #f0f2f5;

  --border-list: #e9edef;

  --chat-bg-color: #0b141a;
  --chat-bg-opacity: 0.1;

  --chat-border-color: rgba(134, 150, 160, 0.15);

  --primary-transparent-color: rgba(59, 151, 2, 0.4);
  --text-color: #fff;

  --group-tag-text-color: #62ba64;
  --group-tag-bg-color: #264500;
  --group-tag-border-color: transparent;

  --incoming-message-bg: #202c33;
  --outgoing-message-bg: #005c4b;
  --system-message-text-color: #8696a0;
  --qouted-message-border-color: #06cf9c;
  --qouted-message-outgoing-bg-color: #025144;
  --qouted-message-incoming-bg-color: #1d282f;
  --deleted-message-text-color: #8197a4;

  --message-queue-bg: #202122;

  --message-queue-border: rgb(49, 49, 49);

  --message-preview-bg: rgb(23, 23, 23);

  --message-card-bg: rgb(40, 40, 40);

  --message-card-description-bg: rgb(0, 0, 0, 0.25);

  --code-example-bg: #282a36;

  --chat-bg-opacity: 0.2;

  --authorized-text-color: #62ba64;
  --not-authorized-text-color: #ff3535;
  --icon-color: rgb(255, 255, 255);
  --profile-background: rgb(53, 68, 75);
  --danger-color: #d1242f;
  --suspended-header-color: #ff9100;

  --suspended-header-bg: #4f2c00;
}
