.default-theme {
  --main-background: #fff;
  --second-background: #f0f2f5;
  --sidebar-trigger-background: #001529;

  --primary-color: #009805;
  --primary-fg-color: #4cae4f;

  --border-color: #d9d9d9;

  --register-form-shadow-color: rgba(0, 0, 0, 0.4);

  --light-primary-color: hsla(122, 39%, 49%, 1);

  --link-color: mediumseagreen;
  --link-hover-color: #009805;

  --authorized-status-color: rgba(238, 255, 227, 1);
  --not-authorized-status-color: rgba(248, 212, 214, 1);
  --starting-status-color: #1890ff;
  --warning-status-color: #ff9100;

  --second-color-hover: #002cd5;

  --scrollbar-color: mediumseagreen;

  --price-color: mediumseagreen;

  --ios-background: #f0f2f5;

  --border-list: #e9edef;

  --chat-bg-color: #efeae2;
  --chat-bg-opacity: 1;

  --chat-border-color: #d1d7db;

  --primary-transparent-color: #b8daa3;
  --text-color: #000000e0;

  --incoming-message-bg: #fff;
  --outgoing-message-bg: #d2fed6;
  --system-message-text-color: #54656f;
  --qouted-message-border-color: #06cf9c;
  --qouted-message-outgoing-bg-color: #d1f4cc;
  --qouted-message-incoming-bg-color: #f5f6f6;
  --deleted-message-text-color: #8696a0;

  --message-queue-bg: #fafafa;

  --message-queue-border: #d9d9d9;

  --message-preview-bg: #f0eae3;

  --message-card-bg: rgb(210, 254, 214);

  --message-card-description-bg: rgb(0, 0, 0, 0.04);

  --code-example-bg: #f0f0f0;

  --chat-bg-opacity: 1;

  --authorized-text-color: rgba(59, 151, 2, 1);
  --not-authorized-text-color: rgb(209, 36, 47);
  --search-input-bg: #f6f5f4;
  --search-input-font-color: #5b6368;
}
