@import "themes/default.scss";
@import "rest/reset";
@import "rest/vars";
@import "rest/functions";
@import "rest/mixins";

html {
  overflow: hidden;
}

.app {
  min-height: 100vh;
}

.chat {
  max-width: 625px;
  width: 100%;

  .ant-card-body {
    padding: 0;
  }

  &-view {
    font-size: 15px;
    height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--main-background);
  }

  &-form {
    padding: 10px
  }

  &-form-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 1px;

    & .ant-card-body {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      padding: 5px 10px;
    }
  }

  &-footer {
    border-top: 1px solid var(--border-color);
  }

  .ant-card-head {
    background-color: var(--second-background);
  }
}

.avatar-image {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.contact-list {
  max-height: 460px;
  @include scrollBar();

  & {
    overflow-x: hidden;
  }

  &__item {
    cursor: pointer;
    padding: 20px;
    transition: all .2s ease-in-out;
    transform: scale(1);
    position: relative;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      background: var(--border-list);
      width: calc(100% - 68px);
      height: 1px;
    }

    &:hover {
      background-color: rgb(220 233 220 / 50%);
    }

    &-wrapper {
      justify-content: space-between;
      width: calc(100% - 50px);
    }

    &-body {
      max-width: 75%;

      h6 {
        font-size: 14px;
      }

      span {
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
      }
    }

  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin-wrapper {
  min-height: 50px;
}

.message {
  display: flex;
  flex-direction: column;

  &-text {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  &-date {
    margin-left: auto;
  }
}

.outgoing {
  background-color: var(--second-background);
}

.incoming {
  background-color: var(--light-primary-color);
  color: var(--main-background)
}

.min-height-460 {
  min-height: 460px;
}

.p-10 {
  padding: 10px
}

.bg-color-second {
  background-color: var(--second-background);
}

.text-overflow {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ant-card-head-wrapper {
  .ant-card-head-title {
    white-space: initial;
  }
}

.back-button {
  display: block;
  min-width: 16px;
}

.response-form-item {
  .ant-form-item-explain-warning {
    color: var(--primary-color) !important;
  }
}

.login-form-button {
  font-size: 24px;
  padding: 0;
  color: var(--primary-color);
}

.copy-massage-code-button {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  transition: .3s all;

  &:hover {
    color: var(--primary-color);
  }
}