@import 'themes/default.scss';
@import 'themes/dark.scss';
@import 'rest/reset';
@import 'rest/vars';
@import 'rest/functions';
@import 'rest/mixins';

@import 'components/full-chat';
@import 'components/mini-chat';
@import 'components/user-side';
@import 'components/aside';
@import 'components/content-side';

@import 'components/shared/list';
@import 'components/shared/message';
@import 'components/shared/messenger-link';

@import 'components/UI/select-language';
@import 'components/UI/select-sending-mode';
@import 'components/UI/status-circle';
@import 'components/UI/select-status.scss';

@import 'components/UI/message-preview.scss';

@import 'components/forms/auth-form';

@import 'components/alerts/left-group-alert';

@import 'components/shared/message-tooltip-menu';
@import 'components/tutorial-modal';
@import 'components/tutorial-link';
@import 'components/qr-link';
@import 'components/qr';
@import 'components/authorization-code';
@import 'components/desc-group';
@import 'components/reply-message';
@import 'components/UI/max-auth.scss';

html {
  overflow: hidden;
}

.app {
  min-height: 100vh;
}

.bg {
  background: linear-gradient(180deg, var(--primary-fg-color) 15%, #e0dddd 15%);
}

.chat-bg {
  background: var(--chat-bg-color) url('../assets/chat_bg-2.png') repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: var(--chat-bg-opacity);
}

.auth-layout {
  max-width: 450px;
  width: 100%;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.display-none {
  display: none;
}

.text-center {
  text-align: center;

  &-mobile {
    @media screen and (max-width: $sm) {
      text-align: center;
    }
  }
}

.spin-wrapper {
  min-height: 50px;
}

.min-height-460 {
  min-height: 460px;
}

.height-720 {
  height: 720px;
}

.min-height-720 {
  min-height: 720px;
}

.margin {
  &-horizontal {
    margin-left: 15px;
    margin-right: 15px;
  }

  &-horizontal-auto {
    margin-left: auto;
    margin-right: auto;
  }

  &-vertical {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  &-left {
    margin-left: 15px;
  }

  &-left-auto {
    margin-left: auto;
  }

  &-right {
    margin-right: 15px;
  }

  &-right-auto {
    margin-right: auto;
  }

  &-top {
    margin-top: 15px;
  }

  &-top-auto {
    margin-top: auto;
  }

  &-bottom {
    margin-bottom: 15px;
  }

  &-top-x2 {
    margin-top: 30px;
  }

  &-bottom-x2 {
    margin-bottom: 30px;
  }

  &-0 {
    margin: 0;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.p-10 {
  padding: 10px;
}

.p-5 {
  padding: 5px;
}

.bg-color-second {
  background-color: var(--second-background);
}

.text-overflow {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ant-card-head-wrapper {
  .ant-card-head-title {
    white-space: initial;
  }
}

.back-button {
  display: block;
  min-width: 16px;
}

.response-form-item {
  .ant-form-item-explain-warning {
    color: var(--primary-color) !important;
  }
}

.login-form-button {
  font-size: 24px;
  padding: 0;
  color: var(--primary-color);
}

.copy-massage-code-button {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    color: var(--primary-color);
  }
}

.chatHeader-space {
  flex: 0 1 100%;
  overflow: hidden;
  cursor: pointer;
}

.send-mode-select-btn {
  font-size: 23px;
  color: var(--primary-color);
}

Button.ant-btn-primary {
  border-color: var(--light-primary-color);
  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}

.ant-btn-color-dangerous {
  box-shadow: none;
}

Button.ant-btn-primary:hover,
Button.ant-btn-primary:focus {
  background: #009805 radial-gradient(circle, transparent 1%, var(--light-primary-color) 1%)
    center/15000%;
}

.expand-first-item-space {
  .ant-space-item:first-child {
    width: 100% !important;
  }
}

.message-signerData {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.form-card {
  max-width: 425px;
  width: 100%;
  box-shadow:
    0 1px 2px 1px rgba(0, 0, 0, 0.3),
    0 2px 4px 1px rgba(0, 0, 0, 0.25),
    0 2px 8px 2px rgba(0, 0, 0, 0.2),
    0 4px 16px 4px rgba(0, 0, 0, 0.15);
}

.ant-modal-content .ant-modal-body {
  padding-top: 22px;
}

.chat-border {
  border-left: 1px solid var(--chat-border-color);
}

.edit-message-modal .ant-modal-content {
  padding: 0;
}

.delete-button {
  color: #d1242f !important;
  flex: 0 1 20%;

  &:hover,
  &:active {
    border-color: #d1242f !important;
  }
}

.account-danger-zone {
  border-radius: 8px;
  border: 1px solid var(--danger-color);
  background-color: var(--danger-zone-bg);
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;

  & .ant-descriptions-header {
    margin-bottom: 0;
  }

  @media (max-width: 510px) {
    line-height: 1.35rem;
  }
}

.account-logout {
  border-radius: 8px;
  border: 1px solid var(--desc-border-color);
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.ant-select-dropdown .ant-select-item-option:hover,
.ant-select-dropdown .ant-select-item-option-active {
  color: var(--primary-color) !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item:hover {
  color: var(--primary-color);
}

.ant-dropdown-menu .ant-dropdown-menu-item-danger:hover {
  color: var(--danger-color) !important;
}
.ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background: none !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item-danger {
  color: var(--text-color) !important;
}

a.simpleType:not(:disabled):hover,
a.simpleType:focus {
  background-color: #009805;
}

a.simpleType:disabled:hover {
  background: rgba(0, 0, 0, 0.04);
}

Button.ant-btn-primary:hover,
Button.ant-btn-primary:focus {
  background: #009805 radial-gradient(circle, transparent 1%, var(--light-primary-color) 1%)
    center/15000%;
}

Button.ant-btn-primary:not(:disabled):active {
  background-color: rgb(46, 107, 48);
  background-size: 100%;
  transition: background 0s;
}

Button.simpleType:not(:disabled):hover,
Button.simpleType:focus {
  background-color: #009805;
}

Button.simpleType:disabled:hover {
  background: rgba(0, 0, 0, 0.04);
}

.success {
  color: var(--primary-color);
  cursor: pointer;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-icon {
  margin-inline-end: 20px !important;
}

html.dark-theme .ant-select-dropdown .ant-select-item.ant-select-item-option {
  margin: 2px !important;
}

html.dark-theme .ant-select-dropdown {
  box-shadow: 0 0 0 2px var(--second-background) !important;
  background-color: var(--second-background) !important ;
}
