.message {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;

  &-arrow {
    transition: .5s all;
    width: 15px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;

    @media screen and (hover: none) {
      width: 15px;
      opacity: 1;
    }
  }

  &-date {
    align-self: end;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
  }

  &:hover {
    .message-arrow {
      width: 15px;
      opacity: 1;
    }
  }
}

.outgoing {
  background-color: var(--second-background);
  align-self: flex-end;

  &.full {
    background-color: var(--main-background);
  }
}

.incoming {
  background-color: var(--light-primary-color);
  color: var(--main-background) !important;
  align-self: flex-start;
}

.quoted-message {
  width: 100%;
  padding: 5px;
  border-radius: 5px;

  &.outgoing {
    background-color: var(--main-background);
    border-left: var(--primary-color) 5px solid;

    &.rtl {
      border-left: unset;
      border-right: var(--primary-color) 5px solid;
    }

    &.full {
      background-color: var(--second-background);
    }
  }

  &.incoming {
    background-color: var(--primary-color);
    border-left: var(--main-background) 5px solid;
    color: var(--main-background);

    &.rtl {
      border-left: unset;
      border-right: var(--main-background) 5px solid;
    }
  }
}

