.messagePreview {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;

  &.incoming {
    background-color: var(--primary-transparent-color);
    border: 1px solid var(--primary-color);
    color: var(--text-color);
    align-self: flex-start;
  }

  &-date {
    margin-left: auto;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
  }

  &__button {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid var(--text-color);

    &:nth-child(odd) {
      border-top: 1px solid var(--text-color);
    }
  }
}

