.message {
  display: flex;
  flex-direction: column;
  border-radius: 7.5px;
  position: relative;
  box-shadow: 0 1px .5px rgba(11, 20, 26, .13);

  &-arrow {
    transition: .5s all;
    width: 15px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;

    @media screen and (hover: none) {
      width: 15px;
      opacity: 1;
    }

    &.visible {
      opacity: 1;
    }
  }

  &-date {
    align-self: end;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
  }

  &:hover {
    .message-arrow {
      width: 15px;
      opacity: 1;
    }
  }
}

.outgoing {
  background-color: var(--outgoing-message-bg);
  align-self: flex-end;
}

.incoming {
  background-color: var(--incoming-message-bg);
  align-self: flex-start;
}

.quoted-message {
  width: 100%;
  padding: 5px;
  border-radius: 5px;

  &.outgoing {
    background-color: var(--qouted-message-outgoing-bg-color);
    border-left: var(--qouted-message-border-color) 5px solid;

    &.rtl {
      border-left: unset;
      border-right: var(--qouted-message-border-color) 5px solid;
    }
  }

  &.incoming {
    background-color: var(--qouted-message-incoming-bg-color);
    border-left: var(--qouted-message-border-color) 5px solid;

    &.rtl {
      border-left: unset;
      border-right: var(--qouted-message-border-color) 5px solid;
    }
  }
}

.date {
  background-color: var(--main-background);
  color: var(--system-message-text-color);
}

.deleted-message {
  color: var(--deleted-message-text-color);
}