.selectLanguage {
  min-width: 96px;
  // max-width: 96px;
  font-size: 18px !important;
  text-align: start;

  .ant-select-selector {
    position: relative;
    padding: 0px !important;

    &:before {
      display: none;
    }
  }

  &.ant-select-rtl .ant-select-selector {
    &:before {
      left: auto;
      right: -20px;
    }
  }

  &__itemBox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
    width: 100px;
  }

  &__text {
    text-align: start;
    font-size: 18px !important;
  }

  &__icon {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
  }
}

.ant-select-arrow {
  position: absolute;
  inset-inline-end: 35px !important;
}
